# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel
.vercellegacy

# typescript
*.tsbuildinfo
next-env.d.ts
.playwright-cli/console-2026-07-29T11-31-46-260Z.log
.playwright-cli/console-2026-07-29T11-33-21-221Z.log
.playwright-cli/console-2026-07-29T11-46-29-955Z.log
.playwright-cli/page-2026-07-29T11-31-47-720Z.yml
.playwright-cli/page-2026-07-29T11-33-23-667Z.yml
.playwright-cli/page-2026-07-29T11-46-30-456Z.yml
yarn.lock
.vscode/mcp.json
