{"openapi":"3.1.0","info":{"title":"campai API Reference","description":"The OpenAPI specification for campai","version":"1.0.0"},"servers":[{"url":"https://cloud.campai.com/api"}],"paths":{"/{organizationId}/{mandateId}/crm/applications/forms":{"post":{"operationId":"crm-applications-forms-createForm","summary":"Create form","description":"Creates an application form <br /><br /> \n### Required permissions:\n* #### mandate.read\n* #### applicationForm.insert","tags":["crm / applications / forms"],"security":[{"ApiKey":[]}],"parameters":[{"in":"path","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"path","name":"mandateId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"contactType":{"type":"string","enum":["member","customer","address","sponsor","trainer","employee","supplier"]},"name":{"type":"string","minLength":1,"maxLength":64},"form":{"type":"object","properties":{"schema":{"type":"object","properties":{"groups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"pageId":{"type":"string","minLength":1,"maxLength":24},"label":{"type":"string","maxLength":140},"hint":{"type":"string","maxLength":280},"fields":{"type":"array","items":{"oneOf":[{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"placeholder"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"disabled":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"name":{"type":"string","minLength":1,"maxLength":140}},"required":["id","type","name"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"info"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"disabled":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"style":{"type":"string","enum":["default","info","warning","error","success"]},"title":{"type":"string","minLength":1,"maxLength":140},"content":{"type":"string","minLength":1,"maxLength":4000}},"required":["id","type","content"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"text"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"format":{"type":"string","enum":["text","multiline","regex","email","phone","url","iban","bic"]},"minLength":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"maxLength":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"regex":{"type":"object","properties":{"regex":{"type":"string","minLength":1},"caseSensitive":{"type":"boolean"}},"required":["regex"]},"phone":{"type":"object","properties":{"defaultCountry":{"type":"string"},"hideCountry":{"type":"boolean"}},"required":["defaultCountry"]}},"required":["id","type","label","format"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"select"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"separate":{"type":"boolean"},"options":{"maxItems":100,"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":32},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":200}},"required":["id","label"]}}},"required":["id","type","label","options"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"multiSelect"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"separate":{"type":"boolean"},"options":{"maxItems":100,"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":32},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":200}},"required":["id","label"]}},"minChoices":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"maxChoices":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991}},"required":["id","type","label","options"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"date"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"format":{"type":"string"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"time"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"dateTime"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"number"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"decimal":{"type":"boolean"},"min":{"type":"number"},"max":{"type":"number"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"boolean"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"label":{"type":"string","minLength":1,"maxLength":140},"confirmLabel":{"type":"string","maxLength":140}},"required":["id","type"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"address"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"hasLabels":{"type":"boolean"},"autoComplete":{"type":"boolean"},"hasDetails":{"type":"boolean"},"hideCountry":{"type":"boolean"},"defaultCountry":{"type":"string"},"restrictCountries":{"maxItems":100,"type":"array","items":{"type":"string"}}},"required":["id","type","defaultCountry"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"termsPrivacy"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"termsUrl":{"type":"string","format":"uri"},"privacyUrl":{"type":"string","format":"uri"}},"required":["id","type"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"row"},"stretch":{"not":{}},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"align":{"type":"string","enum":["start","center","end"]},"fields":{"type":"array","items":{"oneOf":[{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"placeholder"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"disabled":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"name":{"type":"string","minLength":1,"maxLength":140}},"required":["id","type","name"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"info"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"disabled":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"style":{"type":"string","enum":["default","info","warning","error","success"]},"title":{"type":"string","minLength":1,"maxLength":140},"content":{"type":"string","minLength":1,"maxLength":4000}},"required":["id","type","content"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"text"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"format":{"type":"string","enum":["text","multiline","regex","email","phone","url","iban","bic"]},"minLength":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"maxLength":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"regex":{"type":"object","properties":{"regex":{"type":"string","minLength":1},"caseSensitive":{"type":"boolean"}},"required":["regex"]},"phone":{"type":"object","properties":{"defaultCountry":{"type":"string"},"hideCountry":{"type":"boolean"}},"required":["defaultCountry"]}},"required":["id","type","label","format"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"select"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"separate":{"type":"boolean"},"options":{"maxItems":100,"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":32},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":200}},"required":["id","label"]}}},"required":["id","type","label","options"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"multiSelect"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"separate":{"type":"boolean"},"options":{"maxItems":100,"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":32},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":200}},"required":["id","label"]}},"minChoices":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"maxChoices":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991}},"required":["id","type","label","options"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"date"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"format":{"type":"string"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"time"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"dateTime"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"number"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"decimal":{"type":"boolean"},"min":{"type":"number"},"max":{"type":"number"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"boolean"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"label":{"type":"string","minLength":1,"maxLength":140},"confirmLabel":{"type":"string","maxLength":140}},"required":["id","type"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"address"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"hasLabels":{"type":"boolean"},"autoComplete":{"type":"boolean"},"hasDetails":{"type":"boolean"},"hideCountry":{"type":"boolean"},"defaultCountry":{"type":"string"},"restrictCountries":{"maxItems":100,"type":"array","items":{"type":"string"}}},"required":["id","type","defaultCountry"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"termsPrivacy"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"termsUrl":{"type":"string","format":"uri"},"privacyUrl":{"type":"string","format":"uri"}},"required":["id","type"]}],"type":"object"}}},"required":["id","type","fields"]}],"type":"object"}},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"minItems":{"type":"integer","minimum":0,"maximum":9007199254740991},"maxItems":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"addItemCaption":{"type":"string","maxLength":64},"itemCaption":{"type":"string","maxLength":100},"itemMode":{"type":"string","enum":["noHeader","draggable"]}},"required":["id","label","fields"]}},"pages":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"label":{"type":"string","minLength":1,"maxLength":40},"hint":{"type":"string","maxLength":280}},"required":["id","label"]}},"submitCaption":{"type":"string"}},"required":["groups"]},"color":{"anyOf":[{"type":"string","const":""},{"type":"string","pattern":"^#[0-9A-F]{6}$"}]},"pageMode":{"type":"string","enum":["segments","flow","flowWithProgress"]},"introText":{"type":"string","maxLength":4000}},"required":["schema","color","pageMode","introText"]},"submit":{"type":"object","properties":{"submitCaption":{"type":"string","minLength":1},"useCaptcha":{"type":"boolean"},"submittedText":{"type":"string","minLength":1,"maxLength":4000},"navigateUrl":{"anyOf":[{"type":"string","format":"uri"},{"type":"string","const":""}]},"navigateWaitSeconds":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["submitCaption","useCaptcha","submittedText","navigateUrl","navigateWaitSeconds"]},"confirmation":{"type":"object","properties":{"confirmationMail":{"anyOf":[{"type":"object","properties":{"subject":{"type":"string","minLength":1,"maxLength":998},"message":{"type":"string","minLength":1,"maxLength":4000}},"required":["subject","message"]},{"type":"null"}]},"mustConfirmEmail":{"type":"boolean"},"expressaTemplate":{"anyOf":[{"effectType":"output","type":"string","format":"ObjectId","description":"ObjectId as string","anyOf":[{"effectType":"output","type":"string","format":"ObjectId","description":"ObjectId as string"},{"type":"string"}]},{"type":"null"}]}},"required":["confirmationMail","mustConfirmEmail","expressaTemplate"]}},"required":["contactType","name","form","submit","confirmation"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"effectType":"output","type":"string","format":"ObjectId","description":"ObjectId as string","anyOf":[{"effectType":"output","type":"string","format":"ObjectId","description":"ObjectId as string"},{"type":"string"}]}},"required":["_id"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}}},"/{organizationId}/{mandateId}/crm/applications/forms/{applicationFormId}":{"get":{"operationId":"crm-applications-forms-getForm","summary":"Get form","description":"Returns an application form <br /><br /> \n### Required permissions:\n* #### mandate.read\n* #### applicationForm.read","tags":["crm / applications / forms"],"security":[{"ApiKey":[]}],"parameters":[{"in":"path","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"path","name":"mandateId","schema":{"type":"string"},"required":true},{"in":"path","name":"applicationFormId","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"_id":{"effectType":"output","type":"string","format":"ObjectId","description":"ObjectId as string","anyOf":[{"effectType":"output","type":"string","format":"ObjectId","description":"ObjectId as string"},{"type":"string"}]},"mandate":{"effectType":"output","type":"string","format":"ObjectId","description":"ObjectId as string","anyOf":[{"effectType":"output","type":"string","format":"ObjectId","description":"ObjectId as string"},{"type":"string"}]},"contactType":{"type":"string","enum":["member","customer","address","sponsor","trainer","employee","supplier"]},"name":{"type":"string","minLength":1,"maxLength":64},"form":{"type":"object","properties":{"schema":{"type":"object","properties":{"groups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"pageId":{"type":"string","minLength":1,"maxLength":24},"label":{"type":"string","maxLength":140},"hint":{"type":"string","maxLength":280},"fields":{"type":"array","items":{"oneOf":[{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"placeholder"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"disabled":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"name":{"type":"string","minLength":1,"maxLength":140}},"required":["id","type","name"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"info"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"disabled":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"style":{"type":"string","enum":["default","info","warning","error","success"]},"title":{"type":"string","minLength":1,"maxLength":140},"content":{"type":"string","minLength":1,"maxLength":4000}},"required":["id","type","content"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"text"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"format":{"type":"string","enum":["text","multiline","regex","email","phone","url","iban","bic"]},"minLength":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"maxLength":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"regex":{"type":"object","properties":{"regex":{"type":"string","minLength":1},"caseSensitive":{"type":"boolean"}},"required":["regex"],"additionalProperties":false},"phone":{"type":"object","properties":{"defaultCountry":{"type":"string"},"hideCountry":{"type":"boolean"}},"required":["defaultCountry"],"additionalProperties":false}},"required":["id","type","label","format"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"select"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"separate":{"type":"boolean"},"options":{"maxItems":100,"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":32},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":200}},"required":["id","label"],"additionalProperties":false}}},"required":["id","type","label","options"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"multiSelect"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"separate":{"type":"boolean"},"options":{"maxItems":100,"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":32},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":200}},"required":["id","label"],"additionalProperties":false}},"minChoices":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"maxChoices":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991}},"required":["id","type","label","options"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"date"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"format":{"type":"string"}},"required":["id","type","label"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"time"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"}},"required":["id","type","label"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"dateTime"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"}},"required":["id","type","label"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"number"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"decimal":{"type":"boolean"},"min":{"type":"number"},"max":{"type":"number"}},"required":["id","type","label"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"boolean"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"label":{"type":"string","minLength":1,"maxLength":140},"confirmLabel":{"type":"string","maxLength":140}},"required":["id","type"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"address"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"hasLabels":{"type":"boolean"},"autoComplete":{"type":"boolean"},"hasDetails":{"type":"boolean"},"hideCountry":{"type":"boolean"},"defaultCountry":{"type":"string"},"restrictCountries":{"maxItems":100,"type":"array","items":{"type":"string"}}},"required":["id","type","defaultCountry"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"termsPrivacy"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"termsUrl":{"type":"string","format":"uri"},"privacyUrl":{"type":"string","format":"uri"}},"required":["id","type"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"row"},"stretch":{"not":{}},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"align":{"type":"string","enum":["start","center","end"]},"fields":{"type":"array","items":{"oneOf":[{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"placeholder"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"disabled":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"name":{"type":"string","minLength":1,"maxLength":140}},"required":["id","type","name"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"info"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"disabled":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"style":{"type":"string","enum":["default","info","warning","error","success"]},"title":{"type":"string","minLength":1,"maxLength":140},"content":{"type":"string","minLength":1,"maxLength":4000}},"required":["id","type","content"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"text"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"format":{"type":"string","enum":["text","multiline","regex","email","phone","url","iban","bic"]},"minLength":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"maxLength":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"regex":{"type":"object","properties":{"regex":{"type":"string","minLength":1},"caseSensitive":{"type":"boolean"}},"required":["regex"],"additionalProperties":false},"phone":{"type":"object","properties":{"defaultCountry":{"type":"string"},"hideCountry":{"type":"boolean"}},"required":["defaultCountry"],"additionalProperties":false}},"required":["id","type","label","format"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"select"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"separate":{"type":"boolean"},"options":{"maxItems":100,"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":32},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":200}},"required":["id","label"],"additionalProperties":false}}},"required":["id","type","label","options"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"multiSelect"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"separate":{"type":"boolean"},"options":{"maxItems":100,"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":32},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":200}},"required":["id","label"],"additionalProperties":false}},"minChoices":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"maxChoices":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991}},"required":["id","type","label","options"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"date"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"format":{"type":"string"}},"required":["id","type","label"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"time"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"}},"required":["id","type","label"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"dateTime"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"}},"required":["id","type","label"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"number"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"decimal":{"type":"boolean"},"min":{"type":"number"},"max":{"type":"number"}},"required":["id","type","label"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"boolean"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"label":{"type":"string","minLength":1,"maxLength":140},"confirmLabel":{"type":"string","maxLength":140}},"required":["id","type"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"address"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"hasLabels":{"type":"boolean"},"autoComplete":{"type":"boolean"},"hasDetails":{"type":"boolean"},"hideCountry":{"type":"boolean"},"defaultCountry":{"type":"string"},"restrictCountries":{"maxItems":100,"type":"array","items":{"type":"string"}}},"required":["id","type","defaultCountry"],"additionalProperties":false},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"termsPrivacy"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"nextOnSameRow":{"type":"boolean"},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"termsUrl":{"type":"string","format":"uri"},"privacyUrl":{"type":"string","format":"uri"}},"required":["id","type"],"additionalProperties":false}],"type":"object"}}},"required":["id","type","fields"],"additionalProperties":false}],"type":"object"}},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"],"additionalProperties":false}]},"minItems":{"type":"integer","minimum":0,"maximum":9007199254740991},"maxItems":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"addItemCaption":{"type":"string","maxLength":64},"itemCaption":{"type":"string","maxLength":100},"itemMode":{"type":"string","enum":["noHeader","draggable"]}},"required":["id","label","fields"],"additionalProperties":false}},"pages":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"label":{"type":"string","minLength":1,"maxLength":40},"hint":{"type":"string","maxLength":280}},"required":["id","label"],"additionalProperties":false}},"submitCaption":{"type":"string"}},"required":["groups"],"additionalProperties":false},"color":{"anyOf":[{"type":"string","const":""},{"type":"string","pattern":"^#[0-9A-F]{6}$"}]},"pageMode":{"type":"string","enum":["segments","flow","flowWithProgress"]},"introText":{"type":"string","maxLength":4000}},"required":["schema","color","pageMode","introText"],"additionalProperties":false},"submit":{"type":"object","properties":{"submitCaption":{"type":"string","minLength":1},"useCaptcha":{"type":"boolean"},"submittedText":{"type":"string","minLength":1,"maxLength":4000},"navigateUrl":{"anyOf":[{"type":"string","format":"uri"},{"type":"string","const":""}]},"navigateWaitSeconds":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["submitCaption","useCaptcha","submittedText","navigateUrl","navigateWaitSeconds"],"additionalProperties":false},"confirmation":{"type":"object","properties":{"confirmationMail":{"anyOf":[{"type":"object","properties":{"subject":{"type":"string","minLength":1,"maxLength":998},"message":{"type":"string","minLength":1,"maxLength":4000}},"required":["subject","message"],"additionalProperties":false},{"type":"null"}]},"mustConfirmEmail":{"type":"boolean"},"expressaTemplate":{"anyOf":[{"effectType":"output","type":"string","format":"ObjectId","description":"ObjectId as string","anyOf":[{"effectType":"output","type":"string","format":"ObjectId","description":"ObjectId as string"},{"type":"string"}]},{"type":"null"}]}},"required":["confirmationMail","mustConfirmEmail","expressaTemplate"],"additionalProperties":false},"unread":{"type":"integer","minimum":0,"maximum":9007199254740991},"pending":{"type":"integer","minimum":0,"maximum":9007199254740991},"approved":{"type":"integer","minimum":0,"maximum":9007199254740991},"rejected":{"type":"integer","minimum":0,"maximum":9007199254740991}},"required":["_id","mandate","contactType","name","form","submit","confirmation","unread","pending","approved","rejected"],"additionalProperties":false}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.BAD_REQUEST"}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.UNAUTHORIZED"}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.FORBIDDEN"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error.INTERNAL_SERVER_ERROR"}}}}}},"post":{"operationId":"crm-applications-forms-updateForm","summary":"Update form","description":"Updates an application form <br /><br /> \n### Required permissions:\n* #### mandate.read\n* #### applicationForm.edit","tags":["crm / applications / forms"],"security":[{"ApiKey":[]}],"parameters":[{"in":"path","name":"organizationId","schema":{"type":"string"},"required":true},{"in":"path","name":"mandateId","schema":{"type":"string"},"required":true},{"in":"path","name":"applicationFormId","schema":{"type":"string"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":64},"form":{"type":"object","properties":{"schema":{"type":"object","properties":{"groups":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"pageId":{"type":"string","minLength":1,"maxLength":24},"label":{"type":"string","maxLength":140},"hint":{"type":"string","maxLength":280},"fields":{"type":"array","items":{"oneOf":[{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"placeholder"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"disabled":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"name":{"type":"string","minLength":1,"maxLength":140}},"required":["id","type","name"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"info"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"disabled":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"style":{"type":"string","enum":["default","info","warning","error","success"]},"title":{"type":"string","minLength":1,"maxLength":140},"content":{"type":"string","minLength":1,"maxLength":4000}},"required":["id","type","content"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"text"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"format":{"type":"string","enum":["text","multiline","regex","email","phone","url","iban","bic"]},"minLength":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"maxLength":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"regex":{"type":"object","properties":{"regex":{"type":"string","minLength":1},"caseSensitive":{"type":"boolean"}},"required":["regex"]},"phone":{"type":"object","properties":{"defaultCountry":{"type":"string"},"hideCountry":{"type":"boolean"}},"required":["defaultCountry"]}},"required":["id","type","label","format"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"select"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"separate":{"type":"boolean"},"options":{"maxItems":100,"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":32},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":200}},"required":["id","label"]}}},"required":["id","type","label","options"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"multiSelect"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"separate":{"type":"boolean"},"options":{"maxItems":100,"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":32},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":200}},"required":["id","label"]}},"minChoices":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"maxChoices":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991}},"required":["id","type","label","options"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"date"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"format":{"type":"string"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"time"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"dateTime"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"number"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"decimal":{"type":"boolean"},"min":{"type":"number"},"max":{"type":"number"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"boolean"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"label":{"type":"string","minLength":1,"maxLength":140},"confirmLabel":{"type":"string","maxLength":140}},"required":["id","type"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"address"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"hasLabels":{"type":"boolean"},"autoComplete":{"type":"boolean"},"hasDetails":{"type":"boolean"},"hideCountry":{"type":"boolean"},"defaultCountry":{"type":"string"},"restrictCountries":{"maxItems":100,"type":"array","items":{"type":"string"}}},"required":["id","type","defaultCountry"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"termsPrivacy"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"termsUrl":{"type":"string","format":"uri"},"privacyUrl":{"type":"string","format":"uri"}},"required":["id","type"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"row"},"stretch":{"not":{}},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"align":{"type":"string","enum":["start","center","end"]},"fields":{"type":"array","items":{"oneOf":[{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"placeholder"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"disabled":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"name":{"type":"string","minLength":1,"maxLength":140}},"required":["id","type","name"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"info"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"not":{}},"hint":{"not":{}},"placeholder":{"not":{}},"default":{"not":{}},"bindPropertyPath":{"not":{}},"required":{"not":{}},"disabled":{"not":{}},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"style":{"type":"string","enum":["default","info","warning","error","success"]},"title":{"type":"string","minLength":1,"maxLength":140},"content":{"type":"string","minLength":1,"maxLength":4000}},"required":["id","type","content"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"text"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"format":{"type":"string","enum":["text","multiline","regex","email","phone","url","iban","bic"]},"minLength":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"maxLength":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"regex":{"type":"object","properties":{"regex":{"type":"string","minLength":1},"caseSensitive":{"type":"boolean"}},"required":["regex"]},"phone":{"type":"object","properties":{"defaultCountry":{"type":"string"},"hideCountry":{"type":"boolean"}},"required":["defaultCountry"]}},"required":["id","type","label","format"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"select"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"separate":{"type":"boolean"},"options":{"maxItems":100,"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":32},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":200}},"required":["id","label"]}}},"required":["id","type","label","options"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"multiSelect"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"separate":{"type":"boolean"},"options":{"maxItems":100,"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":32},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":200}},"required":["id","label"]}},"minChoices":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"maxChoices":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991}},"required":["id","type","label","options"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"date"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindPropertyPath":{"type":"string"},"required":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"disabled":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"hidden":{"anyOf":[{"type":"boolean"},{"type":"object","properties":{"operator":{"type":"string","enum":["and","or"]},"conditions":{"minItems":1,"type":"array","items":{"type":"string"}}},"required":["operator","conditions"]}]},"nextOnSameRow":{"type":"boolean"},"format":{"type":"string"}},"required":["id","type","label"]},{"type":"object","properties":{"id":{"type":"string","minLength":1,"maxLength":24},"type":{"type":"string","const":"time"},"stretch":{"type":"integer","exclusiveMinimum":0,"maximum":9007199254740991},"label":{"type":"string","minLength":1,"maxLength":140},"hint":{"type":"string","maxLength":280},"placeholder":{"type":"string","maxLength":40},"default":{"type":"string"},"bindP
[...]
